/* fading background, vertical scrolling content */

section.fade {

  .blackLayer {
    display: none;
  }
  .backgroundArea {
    background-color: black;
    -webkit-backface-visibility: hidden;
  }

  &.invert .backgroundArea {
    background-color: white;
  }

  &.active.animate-in-forwards .backgroundArea {
    opacity: 1;
  }

  &.animate-in-forwards .backgroundArea {
    opacity: 0;
  }
  &.animate-out-forwards .backgroundArea{
    opacity: 1;
  }
  &.animate-in-backwards .backgroundArea{
    opacity: 1;
  }
  &.animate-out-backwards .backgroundArea{
    opacity: 0;
  }

  .content {
    @include transition(1s ease);
    -webkit-backface-visibility: hidden;
  }

  &.active div.content {
    @include transform(translate3d(0,0,0));
  }

  &.animate-in-forwards {
    .content {
      @include transform(translate3d(0,100%,0));
    }
  }
  &.animate-out-forwards {
    .content {
      @include transform(translate3d(0,-100%,0));
    }
  }
  &.animate-in-backwards {
    .content {
      @include transform(translate3d(0,-100%,0));
    }
  }
  &.animate-out-backwards {
    .content {
      @include transform(translate3d(0,100%,0));
    }
  }
}